[Unit]
Description=Burp Collaborator ++
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/collaboratorplusplus/startcollab.sh
User=root
Restart=on-failure
TimeoutStopSec=120

[Install]
WantedBy=multi-user.target
